# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test coverage
coverage/
*.lcov

# File besar — exclude dari Git
*.skp
*.ai
*.psd
# public/assets/images/
Screenshot 2026-06-14 001544.png
logo.zip
panlapan-website.zip
portfolio.zip
